/**************************************************************
 * About Site
 **************************************************************/
 
#aboutSite {
    margin-bottom: 2rem;
    text-align: center;
}
#aboutImage {
    text-align: right;
    margin-bottom: 2rem;
    padding-top: 6rem;
}
#aboutImage img {
    width: 100%;
}
#aboutContact {
    margin-bottom: 2rem;
}

h3 {
    border-bottom: 1px solid;
    text-align: center;
}
h5 {
    text-align: center;
}
h6 {
    text-align: center;
    color: #1e09ff;
}

.profile {
    width: 100%;
    height: auto;    
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
}

/**************************************************************
 * LOAD WHEN SCREEN = FULL WIDTH
 **************************************************************/
@media (min-width: 550px) {
    #aboutContact {
        margin-top: 5.2rem;
    }
    #aboutContact {
        text-align: center;
    }
}