/**************************************************************
 * About Site
 **************************************************************/

#aboutSite {
	margin-bottom: 2rem;
}
#aboutSocial {
	text-align: center;
}
#aboutImage {
	text-align: right;
	margin-bottom: 2rem;
}
#aboutImage img {
	width: 100%;
}
#aboutContact {
	margin-bottom: 2rem;
}
.aboutMember {
	margin-top: 2rem;
}
.aboutMember img {}
.aboutMember h5 {
	margin-top: 1rem;
	font-family: serif;
}
.aboutMember p {}

.memberPhoto img {}
@media (min-width: 550px) { /* TODO: small image for small screens */
	#aboutContact {
		margin-top: 5.2rem;
	}
	#aboutContact {
		text-align: center;
	}
}