#level {
	padding-top: 5rem;
}

#criteria ul {
	margin-left: 2rem;
}

#footer {
	position: fixed;
	bottom: 0;
	/* to be fixed footer with js*/
}

h1, h4 {
	color: #1F48C5;
	text-transform: uppercase;
}