#fitness {
	list-style-image: url('../images/fit.png');
}

#safety {
	list-style-image: url('../images/safety.png');
}

#swim {
	list-style-image: url('../images/swim.png');
}

#footer {
	bottom: 0;
	/* to be fixed footer with js*/
}

h1 {
	color: #1E90FF;
}

h4 {
	color: #1E90FF;
	text-transform: uppercase;
	border-bottom: 1px solid #1E90FF;
}

img {
	width: 100%;
	height: auto;
}

