#level {
	padding-top: 5rem;
}

#criteria ul {
	margin-left: 2rem;
}

#footer {
	bottom: 0;
	/* to be fixed footer with js*/
}

#content {
	min-height: 100%;
}

#content h1{
	color: #1F48C5;
	text-transform: uppercase;
}

#content h4{
	color: #1F48C5;
	text-transform: uppercase;
}