.panelImage img {
	width: 100%;
	height: auto;

	/*Don's handiwork. alter as you see fit*/
	/*margin-top: 1rem;*/
}

.selection {
	overflow: hidden;
	background-color: #1E90FF;
	color: #FFF;
	margin: 0 0 1rem 0;
}

.panel:first-of-type {
	background-color: #FFF;
	/*padding: 5rem 0px 0px;*/
	padding: 0px 0px 0px;
	margin-top: 0rem;
}

h3 {
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

h5 {
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.drillbox {
	width: 29.33333333%;
	overflow: hidden;
	background-color: #1E90FF;
	float: left;
	padding: 0 2%;
}

.drillbox img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	-webkit-border-radius: 460px;
	-moz-border-radius: 460px;
 	border-radius: 460px;
 	-webkit-margin-bottom: -30px;
}

.hidden {
	padding: 0 2%;
	text-align: center;
}

.hidden h5{
	text-transform: none;
}

.hidden .button{
	background-color: #DDD;

}

#labels2 {
	padding: 0;
	margin: 0;
	background-color: #1E90FF;
}

#labels {	
	padding: 0;
	margin: 2rem 0 0 0;	
	background-color: #1E90FF;
}