/**Colors required asterisk*/
span {
	color: #FFFFFF;
}
/**Styles page title*/
#formheader {
	color: #1E90FF;
	border: solid 1.5rem #1E90FF;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
#formheader h2 {
	margin-bottom: 1rem;
}
/**Correctly styles the entire form and side message*/
#formrow {
	padding:  1rem;
	margin-bottom: 5rem;
	background-color: #1E90FF;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
/**Colors the form label messages*/
#formrow label {
	color: #FFF;
}
/**Styles the actual form*/
.form {
	margin-bottom: 0;
	border-right: 0.1rem #FFFFFF solid;
	padding-right: 4%;
	padding-left: 2%;
}
/**Sets full width for the forms input panes*/
.form input {
	width: 100%;
}
/**Sets size of the question field*/
#questionField {
	width: 100%;
	height: 20rem;
	resize: none;
}
/**Styles submit and reset buttons*/
#formrow .button {
	color: #333;
	font-size: 1.4rem;
	background-color: #EEE;
}
/**Styles submit and reset buttons when they are being hovered over*/
#formrow .button:hover {
	border-color: #333;
}
/**Styles submit and reset buttons when they are being activated*/
#formrow .button:active {
	background-color: #FFF;
}
/**Styles the right side table, and the message inside*/
#rightsideform {
	display: inline-block;
	height: 100%;
	color: #FFF;
	font-size: 2rem;
	text-align: center;
	margin-left: 2.5%;
}
/**Allows forum to not fall below footer*/
#forum {
	margin-bottom: 5rem;
}
/**Aligns specific table data elements*/
td.centerData {
	text-align: center;
}
/**Styles forum header*/
#forum h2 {
	color: #1e90ff;
	text-align: center;
}
#forumTable {
	background-color: red;
}
/**Colors error message red.*/
#forum .error {
	color: #ff3333;
}
.message {
	color: #ff3333;
}
/**Makes sure footer is attached to the bottom pane of the viewing window*/
#footer {
	position: fixed;
	bottom: 0;
}
