body {
	font-family: Helvetica, Verdana, sans-serif;
}
label {
	color: #666;
}
h3 {
	color: #191970;
}
span {
	color: #33C3F0;
}
.form {
	margin-bottom: 0;
	border-right: 0.1rem #33C3F0 solid;
	padding-right: 4%;
}
#formheader {
	color: #191970;
	margin-top: 8rem;
	text-align: center;
	padding-bottom: 1.5rem;
}
#formrow {
	border: 0.1rem #33C3F0 solid;
	padding:  1rem;
}
#name {
	width: 100%;
}
#email {
	width: 100%;
}
#questionField {
	width: 100%;
	height: 10rem;
	resize: vertical;
}
#buttonid.button {
	color: #33C3F0;
	border-color: #666
	font-size: 1.4rem;
	width: 100%;
}
#buttonid.button:hover {
	border-color: #666;
}
#buttonid.button:active {
	color: #666;
}
#rightsideform {
	display: inline-block;
	height: 100%;
	color: #666;
	font-size: 2rem;
	text-align: center;
	margin-left: 2%;
}
#footer {
	position: fixed;
	bottom: 0;
}
