/**************************************************************
 * JUMBOTRON
 **************************************************************/

#jumbotron {
    /*padding-top: 5rem;*/
    position: relative;
    overflow: hidden;
}
#jumbotron .row {
    display: none;
}
#jumbotron .row:first-of-type {
    display: block;
}
.jumboImg {
    width: 100%;
}
/*.jumbotronText {
    position: absolute;
    bottom: 2rem;
    padding-left: 2rem;
}
.jumbotronText h3 {
    background-color: #ffffff;
    padding: 0 1rem 0 1rem;
    display: inline;
}
.jumbotronText p {
    background-color: #ffffff;
    padding: .2rem 1rem .2em 1rem;
    display: inline;
}*/

/* SLIDER */
#slidePrevButton,
#slideNextButton {
    cursor: pointer;
    display: none;
    position: absolute;
    width: 10%;
    height: 100%;
    padding: 15% 1rem;
    font-size: 5rem;
    color: #ffffff;
    opacity: .7;
    text-shadow: 0 0 .1rem #000000;
}
#slidePrevButton {
    background: linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0));
}
#slideNextButton {
    background: linear-gradient(to left, rgba(255,255,255,0.7), rgba(255,255,255,0));
    right: 0;
    text-align: right;
}
#slidePrevButton:hover,
#slideNextButton:hover {
    opacity: 1.0;
}


/**************************************************************
 * HOME CATEGORY LINKS
 **************************************************************/

#homeMenuContainer {
    display: flex;
    flex-flow: row wrap;
}
.homeMenuItem {
    position: relative;
    background-color: #eee;
    text-decoration: none;
    padding-bottom: 5rem;
    border-radius: 1rem;
}
.homeMenuItem:hover {
    background-color: #dadada;
}
.homeMenuItem h3 {
    padding: .5rem 1rem;
    /*border-top: .4rem solid #1F48C5;*/
    color: #fff;
    background-color: #1e90ff;
}
.homeMenuItem p {
    padding: 0 1rem;
}
.menuDesc {
    color: #000000;
}
.menuButton {
    position: absolute;
    right: 1rem;
    bottom: 0;
    width: 70%;
    background-color: #1e90ff;
}

/**
 * RESIZE BOXES AT DIFFERENT RESOLUTIONS
 */

@media screen and (max-width: 600px) {
    .homeMenuItem {
        flex: 1 1 100%;
        margin-top: 2rem;
        overflow: hidden;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .homeMenuItem {
        flex: 1 1 40%;
        margin-right: 2rem;
        margin-top: 2rem;
        overflow: hidden;
    }
    .homeMenuItem:nth-of-type(even) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1001px) {
    #homeMenuContainer {
        margin-top: -6.2rem;
    }
    .homeMenuItem {
        flex: 1 1;
        margin-right: 2rem;
    }
    .homeMenuItem:last-child {
        margin-right: 0;
    }
    .jumbotronText {
        bottom: 7rem;
    }
}

/**************************************************************
 * GOT QUESTIONS?
 **************************************************************/

#homeQuestionsBlock {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#homeAskButton {
    padding: 0 8rem 0 8rem;
}
#homeAskButton:hover {
    background-color: #1F48C5;
    border-color: #1F48C5;
}


/*Don's handiwork. alter as you see fit*/
.jumboImg {
    margin-top: .01rem;
}
