/* JUMOBOTRON HEADER BLOCK */
#jumbotron {
	padding-top: 5rem;
}
#jumboImg {
	width: 100%;
}
#jumbotronHeader {
	position: absolute;
	bottom: 2rem;
	padding-left: 2rem;
}
#jumbotronHeader h3 {
	background-color: #ffffff;
	padding: 0 1rem 0 1rem;
	display: inline;
}
#jumbotronHeader p {
	background-color: #ffffff;
	padding: .2em 1rem .2em 1rem;
	min-width: 1px;
	display: inline;
}
@media (min-width: 550px) { /* TODO: small image for small screens */
	#jumbotronHeader {
		bottom: 7rem;
	}
}

/* HOME MENU ITEMS */
#homeMenu {}
a.homeMenuItem {
	display: block;
	position: relative;
	padding: 1rem 2rem 7rem 2rem;
	background-color: #f8f8f8;
	border-top: .4rem solid #1F48C5;
	text-decoration: none;
}
a.homeMenuItem:hover {
	background-color: #dcdcdc;
}
.homeMenuItem h3 {
	text-transform: none;
}
.menuDesc {
	color: #000000;
}
.menuButton {
	position: absolute;
	width: 50%;
	bottom: 2rem;
	right: 2rem;
	margin: 0;
}

/* TOFIX: breaks on ipad/iphone? */
@media (min-width: 550px) {
	a.homeMenuItem {
		margin-top: -5rem;
	}
	.menuButton {
		width: 80%;
		right: 0;
		left: 0;
		margin: auto;
	}
}

/* HOME QUESTIONS BLOCK */
#homeQuestionsBlock {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
#homeAskButton {
	padding: 0 8rem 0 8rem;
}
#homeAskButton:hover {
	background-color: #1e90ff;
	border-color: #1e90ff;
}