.dropbtn {
	border: none;
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
	background-color: #f9f9f9;
}

.show {
	display: block;
}