a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
.capsule {
	background-color: #eee;
	padding-top: .5rem;
	padding-bottom: .2rem;
	margin-top: 6em;
}
.listCapsule {
	margin-top: 6em;
}
.topheading {
	text-align: center;
	font-size: 2rem;
	border-bottom: 1rem #1E90FF solid;
	margin-bottom: 1rem;
}
.toplist {
	list-style-type: none;
	text-align: center;
	margin-top: 2rem;
}
.toplist li:hover {
	background-color: #88ddFF;
	color: #333;
}
.table {
	display: table;
	margin: 0 auto;
}
.numlist li {
	border: .1rem #999 solid;
	border-radius: .2em;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	width: 2rem;
	list-style-type: none;
	display: inline;
	text-align: center;
	font-size: 2rem;
}
.numlist li:hover {
	border-color: #333;
	color: #333;
}
#footer {
	margin-top: 2rem;
	position: fixed;
	bottom: 0;
}