/**Sets anchor tags format*/
a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
/**Controls containers for the top menus*/
.capsule {
	background-color: #eee;
	margin-top: 6em;
}
/**removes margins from the top menus list items*/
.capsule li {
	margin: 0;
}
/**formats the anchors in the top menus, Helps creat "button" effect.*/
.capsule a {
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
/**controls format for the anchor tags when hovered over*/
.capsule a:hover {
	background-color: #fff;
	color: #333;
}
/**Formats the main menu titles*/
.topheading {
	text-align: center;
	font-size: 2.2rem;
	background-color: #fff;
	font-weight: bold;
}
/**Formats the unordered lists in the top menus*/
.toplist {
	list-style-type: none;
	text-align: center;
	border-top: .5rem #1e90ff solid;
}
/**Controls the container for the pre-school and swim kids menus*/
.listCapsule {
}
.topNumList {
	margin-top: 1rem;
}
/**Removes margin from the Pre-School and Swim Kids unordered lists*/
.numlist {
	text-align: center;
	background-color: #eee;
	border-top: .5rem #1e90ff solid;
}
/**Styles the list items for the Pre-School and Swim kids menus*/
.numlist li {
	width: 24.5%;
	display: inline-block;
	font-size: 2rem;
	margin: 0;
}
/**Controls the anchor  tags in the Pre-School and Swim kids menus, helps create "button" effect*/
.numlist a {
	display: block;
	padding: 1rem 0;
}
/**Controls format for anchor tags when hovered over*/
.numlist a:hover {
	border-color: #333;
	background-color: #fff;
	color: #333;
}
.bottomList {
	margin-top: 1rem;
	margin-bottom: 4rem;
}
/**Attaches the footer to the bottom of the viewing panel*/
#footer {
	position: fixed;
	bottom: 0;
}