body {
	background-color: #99ddbb;
}
a {
	text-decoration: none;
	color: white;
}
#topheading {
	text-align: center;
	font-size: 2rem;
	border-bottom: 0.1rem white solid;
	padding-top: 2rem;
	margin-top: 8rem;
	margin-bottom: 1rem;
}
.toplist {
	list-style-type: none;
	text-align: center;
}
.table {
	display: table;
	margin: 0 auto;
}
.numlist li {
	list-style-type: none;
	display: inline;
	text-align: center;
	font-size: 2rem;
	margin-left: 4rem;
	margin-right: 4rem;
}