body {
	overflow: hidden;
}

#left {
	height: 100%;
	padding-left: 5rem;
}

.subItem {
	border-top: 1px dashed blue;
}

.panel {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 5rem;
}

.panel:last-of-type {
	padding-bottom: 6rem;
}

#footer {
	position: fixed;
	bottom: 0;
}

.links {
	right: 0;
}

h3, h6 {
	color: #1f48c5;
	text-transform: uppercase;
}